id: {{ workflow_id }}

requirements:
{% for req in requirements %}
  - name: "{{ req.name }}"
{% if req.req_type == 'conda' %}
    version: "{{ req.version }}"
    channel: "{{ req.channel }}"
{% elif req.req_type == 'local path' %}
    path: "{{ req.path }}"
{% if req.editable == 'true' %}
    editable: true
{% endif %}
{% elif req.req_type == 'url' %}
    url: "{{ req.url }}"
{% elif req.req_type == 'git' %}
    git: "{{ req.git }}"
{% if req.git_ref_type == 'rev' %}
    rev: "{{ req.git_ref_value }}"
{% elif req.git_ref_type == 'branch' %}
    branch: "{{ req.git_ref_value }}"
{% elif req.git_ref_type == 'tag' %}
    tag: "{{ req.git_ref_value }}"
{% endif %}
{% endif %}
{% endfor %}
{% if not requirements %}
  []
{% endif %}

{% if add_boilerplate_tasks == "yes" %}
workflow:
  - name: Workflow Details
    id: workflow_details
    task: set_workflow_details

  - name: Data Source
    id: er_client_name
    task: set_er_connection

  - name: Time Range
    id: time_range
    task: set_time_range
    partial:
      time_format: "%d %b %Y %H:%M:%S"
{% else %}
workflow: []
{% endif %}
