id: {{ workflow_id }}
requirements:
{% for req in requirements %}
  - name: "{{ req.name }}"
    version: "{{ req.version }}"
    channel: "{{ req.channel }}"
{% endfor %}
{% if not requirements %}
  []
{% endif %}
workflow: []
