{{ file_header }}

import json
from pathlib import Path
from typing import Any

from wt_contracts import (
    formdata_to_params as _formdata_to_params,
    params_to_formdata as _params_to_formdata,
)


def _load_rjsf() -> dict[str, Any]:
    with Path(__file__).parent.joinpath("rjsf.json").open() as f:
        result: dict[str, Any] = json.load(f)
        return result


def _load_params_schema() -> dict[str, Any]:
    with Path(__file__).parent.joinpath("params.json").open() as f:
        result: dict[str, Any] = json.load(f)
        return result


def get_rjsf() -> dict[str, Any]:
    return _load_rjsf()


def get_data_connection_property_names() -> dict[str, list[str]]:
    params = _load_params_schema()
    data_connections: dict[str, list[str]] = {}
    for k, v in params["properties"].items():
        if isinstance(v, dict) and v.get("properties"):
            for inner_k, inner_v in v["properties"].items():
                if isinstance(inner_v, dict) and inner_v.get("$ref"):
                    ref = inner_v.get("$ref")
                    if ref.endswith("Connection"):
                        key = (
                            inner_v.get("$ref")
                            .lstrip("#/$defs/")
                            .rstrip("Connection")
                        )
                        if data_connections.get(key):
                            data_connections[key].append(k)
                        else:
                            data_connections[key] = [k]
    return data_connections


def formdata_to_params(formdata: dict[str, Any]) -> dict[str, Any]:
    return _formdata_to_params(formdata, _load_rjsf(), _load_params_schema())


def params_to_formdata(params: dict[str, Any]) -> dict[str, Any]:
    return _params_to_formdata(params, _load_rjsf(), _load_params_schema())
